# البيئة الافتراضية
venv/

# ملفات بايثون المترجمة
__pycache__/
*.pyc

# قاعدة البيانات المحلية وسجلات
instance/
*.db
*.log

# نسخ احتياطية قديمة
templates_backup_*/

# ملفات الرفع المحلية
static/uploads/

# ملفات البيئة
.env
